<section class="section">

    <div class="header">
        <button mat-flat-button color="basic" (click)="createAccount()">
            <mat-icon>add_circle</mat-icon>
            Create
        </button>
        <button mat-flat-button color="warn" (click)="deleteAccount()">
            <mat-icon>delete</mat-icon>
            Remove
        </button>
    </div>

    @if(accounts) {
    <div class="container">
        @for (item of accounts; track item.id) {
        <app-card-account [item]="item" (newItemEvent)="selectAccount($event)"></app-card-account>
        }
    </div>
    }

    @else {
    <div class="loading">
        <mat-spinner></mat-spinner>
        <p>Loading account</p>
    </div>
    }


    <mat-accordion class="accordion" multi>
        <mat-expansion-panel expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>Account movements</mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>

            @if(operations?.length == 0) {
                <div class="container-card">
                    <p>No movements were found in the account</p>
                </div>
            }

            @else if(operations) {
                <div class="container-card">
                    <app-card-operation [operation]="operations"></app-card-operation>
                </div>
            }

            @else {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            }

        </mat-expansion-panel>
    </mat-accordion>



</section>