<section class="section">

    <div class="header">
        <button mat-flat-button color="basic" (click)="createAccount()">
            <mat-icon>add_circle</mat-icon>
            Create
        </button>
        <button mat-flat-button color="warn" (click)="deleteAccount()">
            <mat-icon>delete</mat-icon>
            Remove
        </button>
    </div>

    @if(accounts) {
    <div class="container">
        @for (item of accounts; track item.id) {
        <app-card-account [item]="item"></app-card-account>
        }
    </div>
    }

    @else {
    <div class="loading">
        <mat-spinner></mat-spinner>
        <p>Loading account</p>
    </div>
    }


    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Operations">
            <div style="margin-top: 10px;">
                <app-card-operation [operation]="operation"></app-card-operation>
            </div>
        </mat-tab>
    </mat-tab-group>



</section>