<section class="section">

    <div class="header">
        <mat-form-field>
            <mat-label>Order</mat-label>
            <mat-select [(ngModel)]="option" (selectionChange)="order()">
                <mat-option value="OrderByNameASC">OrderByNameASC</mat-option>
                <mat-option value="OrderByNameDESC">OrderByNameDESC</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Search currency" [(ngModel)]="name" (keydown)="search()">
            <button mat-icon-button matIconSuffix (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>

    @if(currency) {
    <div class="container">
        @for (item of currency; track item.id) {
        <app-card-currency [item]="item" (newItemEvent)="buy(item)"></app-card-currency>
        }
    </div>
    }

    @else {
    <div class="loading">
        <mat-spinner></mat-spinner>
        <p>Loading currency</p>
    </div>
    }

</section>