<section class="section">

    <div class="header">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <mat-select>
                <mat-option value="Argentina">Argentina</mat-option>
                <mat-option value="Brazil">Brazil</mat-option>
                <mat-option value="United States">United States</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Search currency" [(ngModel)]="name" (keydown)="search()">
            <button mat-icon-button matIconSuffix (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </div>

    @if(currency) {
    <div class="container">
        @for (item of currency; track item) {
        <app-card-currency [item]="item"></app-card-currency>
        }
    </div>
    }

    @else {
    <div class="loading">
        <mat-spinner></mat-spinner>
        <p>Loading currency</p>
    </div>
    }

</section>