<!-- <div class="card-currency">
    <h3>{{item.nombre}}</h3>
    <p>{{item.codigo}}</p>
    <p>{{item.pais}}</p>
    <p>{{item.estado}}</p>
    <img src={{item.imagen}} alt="imagen">
</div> -->

<mat-card class="card" appearance="outlined">
    <img mat-card-md-image [src]="item.imagen" class="card-image"> 
    <mat-card-header>
        <mat-card-title>{{item.nombre}}</mat-card-title>
        <mat-card-subtitle class="card-subtitle">{{item.pais}}</mat-card-subtitle>
      </mat-card-header>
    <mat-card-content>
        <mat-chip-set>
            <mat-chip>{{item.codigo}}</mat-chip>
            <mat-chip>{{item.estado}}</mat-chip>
        </mat-chip-set>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="selectItem(item)">See chart</button>
        <button mat-button disabled>Request quote</button>
    </mat-card-actions>
</mat-card>