@if (connecting) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<section class="section-form">
  <form class="container-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <h3>Sign in</h3>

    <mat-label>Email</mat-label>
    <mat-form-field>
      <input id="email" type="email" formControlName="email" matInput>
    </mat-form-field>

    <mat-label>Password</mat-label>
    <mat-form-field>
      <input id="password" type="password" formControlName="password" matInput>
    </mat-form-field>

    <button color="primary" mat-flat-button>Sign in</button>
    <a color="accent" mat-button href="register">Sign up</a>
  </form>
</section>