<section class="section-form">
  <form class="container-form">
    <h3>Sign in</h3>

    <mat-label>Email</mat-label>
    <mat-form-field>
      <input type="email" [(ngModel)]="client.email" name="email" matInput required>
    </mat-form-field>

    <mat-label>Password</mat-label>
    <mat-form-field>
      <input type="password" [(ngModel)]="client.password" name="password" matInput required>
    </mat-form-field>

    <button (click)="login()" mat-flat-button>Sign in</button>
  </form>
</section>