.section-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 20em;
    background-color: #202020;
    padding: 20px;
    border: 1px groove rgba(255, 255, 255, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}