@if (connecting) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<section class="section-form">
    <form class="container-form" [formGroup]="registerForm" (submit)="register()">
        <h3>Sign up</h3>

        <mat-form-field>
            <mat-label>User</mat-label>
            <input type="text" formControlName="user" matInput>
        </mat-form-field>

        <mat-form-field>
        <mat-label>Email</mat-label>
            <input type="email" formControlName="email" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select formControlName="country">
                <mat-option value="Argentina">Argentina</mat-option>
                <mat-option value="Brazil">Brazil</mat-option>
                <mat-option value="United States">United States</mat-option>
            </mat-select>
        </mat-form-field>

        <button type="submit" color="accent" mat-flat-button>Sign up</button>
    </form>
</section>