<div class="container">
    <mat-toolbar class="navbar">
        <button mat-icon-button (click)="collapsed()">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="navbar-items">
            <h1 class="app-name">App</h1>

            <button mat-raised-button [matMenuTriggerFor]="menu"><mat-icon>arrow_drop_down</mat-icon>Jesus</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Personal data</button>
                <button mat-menu-item>Sign out</button>
            </mat-menu>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav" mode="side" opened [style.width]="widthSide">

            <mat-nav-list class="sidenav-items">
                <a mat-list-item [activated]="'/home' == active">
                    <mat-icon matListItemIcon>home</mat-icon>
                    <span>Home</span>
                </a>
                <a mat-list-item [activated]="'/currency' == active">
                    <mat-icon matListItemIcon>bar_chart</mat-icon>
                    <span>Currency</span>
                </a>
                <a mat-list-item [activated]="'/account' == active">
                    <mat-icon matListItemIcon>credit_card</mat-icon>
                    <span>Account</span>
                </a>
                <a mat-list-item [activated]="'/operation' == active">
                    <mat-icon matListItemIcon>description</mat-icon>
                    <span>Operation</span>
                </a>

                <a mat-list-item [activated]="'/help' == active" style="margin-top: 12em;">
                    <mat-icon matListItemIcon>help</mat-icon>
                    <span>Ayuda</span>
                </a>

            </mat-nav-list>

        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content">
            <mat-card appearance="outlined">
                <mat-card-content>Home</mat-card-content>
              </mat-card>
              
              <router-outlet></router-outlet>

            <!-- <div class="container-card">
                @for (item of currency; track item.id) {
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>{{item.nombre}}</mat-card-title>
                        <mat-card-subtitle>{{item.estado}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button>Learn More</button>
                    </mat-card-actions>
                </mat-card>
                }
            </div> -->

        </mat-sidenav-content>
    </mat-sidenav-container>

</div>