<div class="example-container">
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        
        <h1 class="example-app-name">Responsive App</h1>
        
        <!-- <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a> -->
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>

        <button mat-raised-button [matMenuTriggerFor]="menu" style="margin-left: 1000px;">Jesus</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Personal data</button>
          <button mat-menu-item>Sign out</button>
        </mat-menu>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav>
            <p>Hola</p>
        </mat-sidenav>

        <mat-sidenav-content>
            <p>Content</p>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>









<!-- <nav class="navbar">
    <div class="navbar-start">
        <h3>AppMoneda</h3>
    </div>

    <div class="navbar-end">
        <a class="link" href="home">home</a>
        <a class="link" href="currency">currency</a>
        <a class="link" href="account">account</a>
        <a class="link" href="operation">operation</a>
        <a class="link" href="login">salir</a>
    </div>
</nav> -->

<!-- <section class="section">
    <h3>currency</h3>
    <div class="container">
        @for (item of currency; track item.id) {
        <app-currency [item]="item"></app-currency>
        }
    </div>
</section> -->

<!-- <section class="section">
    <h3>account</h3>
    <div class="container">
        @for (item of account; track item.id) {
        <app-account [item]="item"></app-account>
        }
    </div>
</section> -->

<!-- <section class="section">
    <h3>operation</h3>
    <div class="container">
        @for (item of operation; track item.id) {
        <app-operation [item]="item"></app-operation>
        }
    </div>
</section> -->

<!-- <section class="section">
    <h3>client</h3>
    <div class="container">
        @for (item of client; track item.id) {
            <div class="card-client">
                <h3>{{item.usuario}}</h3>
                <p>{{item.email}}</p>
                <p>{{item.clave}}</p>
                <p>{{item.fecha_alta}}</p>
                <p>{{item.estado}}</p>
            </div>
            }
    </div>
</section> -->