.container-card {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-chip {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-table {
    display: block;
}