<mat-accordion class="accordion" multi>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>Active accounts</mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>

        @if (account) {
        <div class="container-card">
            @for (item of account; track item.id) {
            <app-card-account [item]="item"></app-card-account>
            }
        </div>
        }

        @else {
        <mat-spinner></mat-spinner>
        }

    </mat-expansion-panel>
    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>Popular currencies</mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>

        @if(currency) {
        <div class="container-chip">
            <mat-tab-group>
                @for (tab of currency; track tab) {
                <mat-tab [label]="tab.nombre"></mat-tab>
                }
            </mat-tab-group>
        </div>
        }

        @else {
        <mat-spinner></mat-spinner>
        }

    </mat-expansion-panel>

    <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
            <mat-panel-title>Last operations</mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>

        @if(operation) {
        <div class="container-table">
            <app-card-operation [operation]="operation"></app-card-operation>
        </div>
        }

        @else {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }

    </mat-expansion-panel>
</mat-accordion>