.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    grid-template-rows: auto;
    gap: 2em;
}

.container-chip {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-table {
    display: block;
}