<section class="section">

  <mat-stepper linear orientation="vertical" #stepper>
    <mat-step [stepControl]="formType" [editable]="formType.enabled">
      <form [formGroup]="formType">
        <ng-template matStepLabel>Select type</ng-template>
        <mat-form-field>
          <mat-label>Select an option</mat-label>
          <mat-select formControlName="type" [value]="type">
            <mat-option value="Deposit">Deposit</mat-option>
            <mat-option value="Extract">Extract</mat-option>
            <mat-option value="Buy">Buy</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formAccount" [editable]="formAccount.enabled">
      <form [formGroup]="formAccount">
        <ng-template matStepLabel>Select account</ng-template>

        <div class="container">
          @if(origin) {
          <app-card-account [item]="origin"></app-card-account>
          }

          @if(destination) {
          <app-card-account [item]="destination"></app-card-account>
          }
        </div>

        <div class="select">
          <mat-form-field>
            <mat-label>Account origin</mat-label>
            <mat-select formControlName="origin" [(value)]="origin">
              @for (item of account; track item) {
              <mat-option [value]="item">{{item.nombre}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Account destination</mat-label>
            <mat-select formControlName="destination" [(value)]="destination">
              @for (item of account; track item) {
              <mat-option [value]="item">{{item.nombre}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formValue" [editable]="formValue.enabled">
      <form [formGroup]="formValue">
        <ng-template matStepLabel>Select value</ng-template>

        <mat-form-field>
          <mat-label>Value</mat-label>
          <input matInput formControlName="value" [value]="value">
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirm</ng-template>

      <p>Verify that the data entered is correct</p>

      <div>
        <button mat-button matStepperPrevious>Back</button>

        <button mat-button (click)="confirm()" (click)="stepper.reset()">Confirm</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        
      </div>
    </mat-step>
  </mat-stepper>

  <div class="summary">
    <h3 class="list-title">Summary</h3>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <span matListItemTitle class="list-item">Type operation</span>
        @if(this.formType.value?.type) {
        <mat-icon matListItemIcon>check_circle</mat-icon>
        } @else {
        <mat-icon matListItemIcon>cancel_circle</mat-icon>
        }
        <span matListItemLine>{{formType.get("type").value}}</span>
      </mat-list-item>

      <mat-list-item role="listitem">
        <span matListItemTitle class="list-item">Account origin</span>
        @if(this.formAccount.value?.origin) {
        <mat-icon matListItemIcon>check_circle</mat-icon>
        } @else {
        <mat-icon matListItemIcon>cancel_circle</mat-icon>
        }
        <span matListItemLine>{{formAccount.get("origin").value?.nombre}}</span>
      </mat-list-item>

      <mat-list-item role="listitem">
        <span matListItemTitle class="list-item">Account destination</span>
        @if(this.formAccount.value?.destination) {
        <mat-icon matListItemIcon>check_circle</mat-icon>
        } @else {
        <mat-icon matListItemIcon>cancel_circle</mat-icon>
        }
        <span matListItemLine>{{formAccount.get("destination").value?.nombre}}</span>
      </mat-list-item>

      <mat-list-item role="listitem">
        <span matListItemTitle class="list-item">Value</span>
        @if(this.formValue.value.value) {
        <mat-icon matListItemIcon>check_circle</mat-icon>
        } @else {
        <mat-icon matListItemIcon>cancel_circle</mat-icon>
        }
        <span matListItemLine>{{formValue.get('value').value}}</span>
      </mat-list-item>
    </mat-list>
  </div>

</section>